<div class="resume-intro">

    <div class="row align-items-center">
        <div class="resume-title col-12 col-md-2 col-lg-2 col-xl-3">
            {{ if .Site.Params.profile.avatar }}
            <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" height="120"
                 src="{{ .Site.BaseURL }}assets/images/{{ .Site.Params.profile.avatar }}" alt="image">
            {{ end }}
        </div>
        <div class="col-12 col-md-10 col-lg-10 col-xl-9">
            <div class="media-body text-left">
                <p class="mb-0">{{ .Site.Params.summary.text | markdownify }}</p>
            </div><!--//media-body-->
        </div>
    </div>

</div><!--//resume-intro-->
